* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.inline_block {
    background-color: aquamarine;
    width: 200px;
    height: 100px;

    margin: 1rem;
}

.last_string {
    width: 100%;
    background-color: bisque;
}