.main {
    background-color: aqua;
    border-color: forestgreen;
    border-width: thin;
    border-style: solid;

    height: 265px;
}

.image {
    float: right;
}

.text {
    float: left;
    width: auto;
}